# Predicting Rank based on Marks

In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [38]:
marks=pd.read_excel('CGPA and Average Grade Point details for Branch Allocation AY2020-21.xlsx')

In [39]:
marks.head()

,S.No,Roll Number,Number of remedials,CGPA (upto P2S2),Average GP of Maths in PUC,Average GP of Physics in PUC,Average GP of Chemistry in PUC,Eligible for Branch allocation ?,Rank
0,1,N170822,0,7.66,7.25,7.25,7.25,YES,Rank No : 719
1,2,N180059,0,6.55,6.25,6.00,6.00,YES,Rank No : 1084
2,3,N180154,0,8.35,8.25,8.00,7.75,YES,Rank No : 432
3,4,N180156,0,8.59,8.50,8.25,8.00,YES,Rank No : 335
4,5,N180300,0,7.95,8.00,7.50,7.75,YES,Rank No : 609

In [41]:
marks['rank']=None
for i in range(len(marks)):
    marks['Rank'][i]=marks['Rank'][i][-1]

C:\Users\Dell\AppData\Local\Temp/ipykernel_7844/2350701542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marks['Rank'][i]=marks['Rank'][i][-1]

TypeError: 'float' object is not subscriptable

In [44]:
marks.head()

,S.No,Roll Number,Number of remedials,CGPA (upto P2S2),Average GP of Maths in PUC,Average GP of Physics in PUC,Average GP of Chemistry in PUC,Eligible for Branch allocation ?,Rank,rank
0,1,N170822,0,7.66,7.25,7.25,7.25,YES,9,None
1,2,N180059,0,6.55,6.25,6.00,6.00,YES,4,None
2,3,N180154,0,8.35,8.25,8.00,7.75,YES,2,None
3,4,N180156,0,8.59,8.50,8.25,8.00,YES,5,None
4,5,N180300,0,7.95,8.00,7.50,7.75,YES,9,None

In [51]:
x=marks[['CGPA (upto P2S2)']]
y=marks[['Rank']]

In [55]:
x_train, x_test, y_train, y_test=train_test_split(x, y, train_size=0.8, random_state=0)

In [56]:
lr=LinearRegression()

In [59]:
x_train, y_train, x_test, y_test

(      CGPA (upto P2S2)
 195               8.65
 1241              9.16
 478               9.11
 70                6.82
 1194              6.61
 ...                ...
 763               7.74
 835               8.05
 1216              7.53
 559               8.45
 684               8.63

 [1021 rows x 1 columns],
                 Rank
 195    Rank No : 311
 1241             NaN
 478              NaN
 70    Rank No : 1017
 1194             NaN
 ...              ...
 763              NaN
 835              NaN
 1216             NaN
 559              NaN
 684              NaN

 [1021 rows x 1 columns],
       CGPA (upto P2S2)
 1271              0.00
 877               8.89
 1130              6.39
 1252              8.03
 247               8.08
 ...                ...
 1176              6.76
 634               8.30
 1063              7.87
 899               9.16
 471               8.84

 [256 rows x 1 columns],
                Rank
 1271            NaN
 877             NaN
 1130            NaN
 1252            NaN
 247   Rank No : 556
 ...             ...
 1176            NaN
 634             NaN
 1063            NaN
 899             NaN
 471             NaN

 [256 rows x 1 columns])